body { text-align:center;
	text-shadow: 2px 2px yellow; 
	color:black;
	padding: 20px;
	border-radius: 20px;
	font-size:40px;
	font-family:Copperplate, Papyrus, fantasy;
	background-image:url("https://i.pinimg.com/originals/f9/f3/91/f9f3911b5e75df50b98cf7bacbc5ed18.jpg");
	width : 100%;
	background-attachment: scroll;
	background-size: cover;

	object-fit: cover; 
	}

section {background-color: white;
	background-blend-mode:luminosity;
	opacity: 0.9;
	display: flex;
	
	flex-direction: column;
	flex-wrap: nowrap;
	color: black;
	font-size:20px;
	font-family: verdana;
	text-shadow: 1px 1px white;
	background-position: center-bottom;
	background-size: 100px;
	margin-left:100px;
	margin-right:100px;
	border-radius: 25px;
}
#good-boy{
	margin-top:30px;
	margin-bottom: -10px;
}
h1 { background-color: red;
	opacity: 0.9;
	border-radius: 25px;
}
.meow {
  background-color: mediumseagreen;
  color: white;
  opacity: 1;
  text-shadow: 2px 2px black;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}
h2 { font-size: 50px; 
	color: DodgerBlue;
	font-family:Copperplate, Papyrus, fantasy;
	text-shadow: 2px 2px white;
}
em {
	color:DodgerBlue;
	text-shadow: 2px 2px white;
}
.intro {text-align: left center;
	text-shadow: 2px 2px orange; 
	font-size: 30px;
	font-family:Copperplate, Papyrus, fantasy;
	background-color: DodgerBlue;
	padding: 10px;
	border-radius:20px;
	box-shadow: 10px 10px 5px orange;

}
.logo {text-align: center;
}
.card{position: relative;
padding:20px 40px;
margin-top:150px;
margin-left:630px;
height:340px;
width:350px;
border-radius:15px;
box-shadow:0px 5px 20px rgba(0,0,0,0.5);
transition: 0.3s;
cursor: pointer;
background: mediumseagreen;
}
.card:hover{height: 350px;}
.imgbox{
border-radius:10px;
 border-color:0px 5px 20px rgba(0,0,0,0.5);}
.card:hover >.imgbox{transform: translateY(-100px);}
 
 .content{padding:10px 20px;
 text-align: center;
 color: white;
 text-shadow:2px 2px black;
 transform: translateX(500px);
 transition:0.3s;
 transition-timing-function: ease-in-out;
 opacity:0;
 display:none;}
 
 .card:hover > .content{opacity:1;
 transform:translateY(-20px);
 display:block;}
 
 .card2{position: relative;
padding:20px 40px;
margin-top:-380px;
margin-left:100px;
height:335px;
width:350px;
border-radius:15px;
box-shadow:0px 5px 20px rgba(0,0,0,0.5);
transition: 0.3s;
cursor: pointer;
background: mediumseagreen;
}
.card2:hover{height: 350px;}
.imgbox2{
border-radius:10px;
 border-color:0px 5px 20px rgba(0,0,0,0.5);}
.card:hover > .imgbox2{
	transform: translateY(-100px);

} 
 .content2{padding:10px 20px;
 text-align: center;
 color: white;
 text-shadow:2px 2px black;
 transform: translateX(-500px);
 transition:0.3s;
 transition-timing-function: ease-in-out;
 opacity:0;}
 
 .card2:hover > .content2{opacity:1;
 transform:translateY(0px);}
.transbutton { border: none;
	outline:none;
	opacity: 0.1;
}
.q1 { text-align: bottom;
margin: auto;
width: 50%;
font-size:30px;
border-radius: 25px;
 float: left;
  padding: 10px 100px;
  transform: translate(0px,100px);
 background-color: tomato;
 text-shadow: 2px 2px yellow;
 font-family:Garamond;
}
.catoption1 {
 transform: translate(-270px,0px);
}
.catoption2 {
 transform: translate(300px,-26px);
}
.kittypaw{
	box-shadow: 0 0 3px 3px;
	height: 100%;
	width: 100%;
}